.map-container {
  width: 100%;
  height: 400px;
  background: rgba(0, 0, 0, 0.85);
  border: 1px solid #ddd;
  //   @include border-radius(12);
  display: block;
  overflow: hidden;
  &.loading {
    display: flex;
    align-items: center;
    justify-content: center;
    h4 {
      margin-top: -40px;
      color: #fff;
      color: rgba(255, 255, 255, 0.8);
      letter-spacing: 0.5px;
      font-size: 1.25rem;
      display: block;
      animation: blinker 1s linear infinite;
    }
    @keyframes blinker {
      50% {
        opacity: 0;
      }
    }
  }
  #graph-id-graph-wrapper {
    width: 100%;
    height: calc(100% - 40px);
    svg {
      width: 100% !important;
      height: 100% !important;
    }
  }
  #graph-id-graph-container-zoomable {
    transform: translate(420px, 165px) scale(1.1);
    // transform: translate(410px, 255px) scale(0.6);
  }
  .mv-btns {
    width: 100%;
    height: 100%;
    background: #eee;
    border-top: 1px solid #ccc;
    button {
      width: 100px;
      height: 40px;
      background: #fff;
      font-weight: bold;
      font-size: 0.875rem;
      appearance: none;
      border: none;
      border-right: 2px solid #eee;
      &:hover {
        background: rgba(179, 103, 214, 0.5);
        color: #fff;
        color: rgba(255, 255, 255, 0.85);
        text-shadow: 0 0 4px rgba(179, 103, 214, 0.85);
      }
    }
  }
  // div {
  //     svg {
  //         g {
  //             border: 1px solid blue
  //         }
  //     }
  // }
}
@media only screen and (max-width: 800px) {
  .map-container {
    height: calc(40vh - 40px);
  }
}
@media only screen and (max-width: 400px) {
  .map-container {
    .mv-btns {
      button {
        width: 25%;
      }
    }
  }
}
